* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #20415c;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    width: 75px;
    height: 75px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ff4886;
    cursor: pointer;
    border: 10px solid #20415c;
    border-radius: 50%;
    z-index: 10;

    transform: translateY(-30px);
}

.toggle::before {
    position: absolute;

    font-size: 3em;
    color: #fff;

    content: '+';

    transition: 1.5s;
}

.toggle.active::before {
    transform: rotate(225deg);
}

.menu {
    width: 60px;
    height: 60px;

    position: absolute;

    background: #fff;
    border-radius: 70px;

    transform: translateY(-30px);
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
}

.toggle.active ~ .menu {
    width: 360px;
    height: 70px;

    transform: translateY(0px);
    transition-delay: 0s, 0.5s, 0.5s;
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    line-height: 80px;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
    opacity: 0;

    transform: translateY(-30px);
    transition: 0.25s;
    transition-delay: var(--i);
}

.toggle.active ~ .menu ul li {
    opacity: 1;

    transform: translateY(0px);
    transition-delay: calc(0.75s + var(--i));
}

.menu ul li:nth-child(3) {
    width: 30px;
}

.menu ul li a {
    display: block;

    font-size: 1.7em;
    text-decoration: none;
    color: #555;
}

.menu li:hover a {
    color: #ff4886;
}