@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, #8460ed, #ff1252);

    font-family: 'Poppins', sans-serif;
}

.container {
    width: 270px;
    height: 270px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

    background: #fff;
    border-radius: 50%;
    cursor: pointer;

    color: #222;
    font-size: 30px;

    transition: 0.3s;
}

.container.active .toggle {
    transform: rotate(45deg);
}

.container .menu {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

li {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    list-style: none;
    pointer-events: none;

    transform: rotate(calc(360deg / 6 * var(--i)));
}

a {
    width: 55px;
    height: 55px;

    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #222;
    text-decoration: none;
    font-size: 22px;

    background: #fff;
    border-radius: 50%;
    pointer-events: visible;

    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.container.active .menu li a {
    top: 0;

    transform: translate(-50%, -50%) rotate(calc(-360deg / 6 * var(--i)));
}